:root {
  --preto-forte: #111;
  --azul-botao: #3498db;
  --branco: #fff;
  --azul-primario: #111969;
  --cinza: #aaa;
  --preto: #000;
  --vermelho-claro: #f33;
  --cinza-escuro: #333;
  --dourado: #daa520;
}